<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- https://en.wikipedia.org/wiki/List_of_moments_of_inertia-->
<!--https://www.mikipulley.co.jp/EN/Services/Tech_data/tech24.html-->
<!--Rotating around z (unless otherwise specified)-->
    
    <xacro:macro name="box_inertia" params="mass x y z">
            <inertia
          ixx="${mass/12.0 * (y*y + z*z)}" ixy="0.0" ixz="0.0"
          iyy="${mass/12.0 * (z*z + x*x)}" iyz="0.0"
          izz="${mass/12.0 * (y*y + x*x)}"/>
    </xacro:macro>

    <xacro:macro name="cylinderical_tube_inertia" params="r1 r2 height mass"> 
               <inertia  
                ixx="${(mass/12.0) * (3 * (r2*r2 + r1*r1) + height*height)}" ixy="0.0" ixz="0.0"
                iyy="${(mass/12.0) * (3 * (r2*r2 + r1*r1) + height*height)}" iyz="0.0"
                izz="${(mass/2.0) * (r2*r2 + r1*r1)}" />
    </xacro:macro>
  
    <xacro:macro name="solid_sphere_inertia" params="mass radius">
              <inertia
                ixx="${2.0*mass*(radius*radius)/5.0}" ixy="0.0" ixz="0.0" 
                iyy="${2.0*mass*(radius*radius)/5.0}" iyz="0.0" 
                izz="${2.0*mass*(radius*radius)/5.0}"/>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="radius height mass">
               <inertia  
                ixx="${(mass/12.0) * (3 * (radius*radius) + height*height)}" ixy="0.0" ixz="0.0"
                iyy="${(mass/12.0) * (3 * (radius*radius) + height*height)}" iyz="0.0"
                izz="${(mass/2.0) * (radius*radius)}" />
    </xacro:macro>

</robot>