<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="ground_truth" default="true" />

    <gazebo reference="base_link">
        <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="motor_left_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="motor_right_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="powerbank_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel_left_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>700000.0</kp>
        <kd>80.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <material>Gazebo/Black</material>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="wheel_right_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>700000.0</kp>
        <kd>80.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <material>Gazebo/Black</material>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="caster_holder_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel_caster_link">
        <mu1>0.08</mu1>
        <mu2>0.08</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="p3d_controller_ground_truth" filename="libgazebo_ros_p3d.so">
            <alwaysOn>$(arg ground_truth)</alwaysOn>
            <frameName>world</frameName>
            <bodyName>base_link</bodyName>
            <topicName>base_pose_ground_truth</topicName>
            <updateRate>30.0</updateRate>
        </plugin>
    </gazebo>
</robot>
