<?xml version="1.0"?>

<model>
  <name>Blue Colored box</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Mario Martinez</name>
    <email>mario.mtz@manchester-robotics.com</email>
  </author>

  <description>
    Simple blue colored box
  </description>
</model>