<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!--Robot 1 Description-->
  <arg name="robot" default="puzzlebot_1"/>

  <!--Robot 1 Description-->
  <arg name="robot_description_file" default="puzzlebot_hacker_ed_v1_3.xacro"/>

  <!--Robot Initial Position-->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!--Robot input output topics to remap-->
  <arg name="wr_topic" default="wr"/>
  <arg name="wl_topic" default="wl"/>
    
  <!--Load robot description-->
  <param name="/$(arg robot)/robot_description" command="$(find xacro)/xacro '$(find puzzlebot_description)/urdf/$(arg robot_description_file)' prefix:=$(arg robot)" />

  <group ns="$(arg robot)">
  
    <!--Robot State Publisher-->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="puzzlebot_state_pub" >
      <remap from="robot_description" to="/$(arg robot)/robot_description" />
      <param name="tf_prefix" value="$(arg robot)" />
    </node>

    <!--Robot Spawner-->
    <node name="puzzlebot_spawn" pkg="gazebo_ros" type="spawn_model"  output="screen"
      args="-urdf -param robot_description -model $(arg robot) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)">
      <remap from="robot_description" to="/$(arg robot)/robot_description" />
    </node>

    <!--Robot controller-->
    <remap from="/$(arg robot)/wr" to="$(arg wr_topic)" />
    <remap from="/$(arg robot)/wl" to="$(arg wl_topic)" />
    <include file="$(find puzzlebot_control)/launch/puzzlebot_control.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>

  </group>

</launch>